//main : styles.scss;

@media all and (orientation: portrait){
  body{
    font-size: 3vw;
    header{
      padding: 5%;
    }
    main{
      flex-direction: column;
      padding-left: 5%;
      padding-right: 5%;
      font-size: 125%;
      section, form{
        width: 100%;
        height: auto;
      }
    }
    footer{
      max-height: 40vh;
      min-height: 20vh;
      display: block;
      padding-left: 5%;
      padding-right: 5%;
      nav{
        width: 100%;
        min-height: 15vh;
        a{
          min-height: 8vh;
          max-height: 15vh;
        }
      }
      div{
        position: relative;
      }
    }
  }
}
