//main : styles.scss;
@font-face{
  font-family: bold;
  src:url(../fonts/SharpSansNo1-Bold.woff);
}
@font-face{
  font-family: medium;
  src: url(../fonts/SharpSansNo1Medium-Regular.woff);
}
@font-face{
  font-family: semibold;
  src:url(../fonts/proxima_nova_alt_light-webfont.woff);
}
@font-face{
  font-family: proxima;
  src: url(../fonts/proximanova-regular-webfont.woff);
}
h1, h2, h3, h4 {
  font-weight: normal;
}
body{
  header{
    font-family: bold;
    h2{
      font-family: semibold;
    }
  }
  main{
    section{
      p{
        font-family: proxima;
      }
      ol{
        li{
          h3{
            font-family: bold;
          }
          h4{
            font-family: proxima;
            font-weight: normal;
          }
        }
      }
    }
    form{
      font-family: bold;
      input, select{
        font-family: proxima;
      }
    }
  }
  footer{
    font-family: proxima;
  }
}
