@import "_fonts.scss";
@import "_backgrounds.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}

body{
    width: calc(100vw - (100vw - 100%));
    font-size: 1.4vw;
    color: #02363D;
    header{
        position: relative;

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-bottom: 4%;
        div{
            position: absolute;
        }
        h4, h1, h2{
          text-align: center;
          margin-bottom: 1%;
        }
        h4{
          text-transform: uppercase;
          font-size: 80%;
          color:white;
          border-radius: 4px;
          padding: .3em;
          padding-left: .8em;
          padding-right: .8em;
          margin: 4% auto 1%;
        }
        h1:nth-child(5){
            font-style: italic;
        }
        h2{
            font-size: 100%;
            text-transform: uppercase;
        }
    }
    main{
        width: 100%;
        padding-top: 8%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        section{
            width: 60%;
            height: 100%;
            p, nav, ol{
              margin-bottom: 6%;
            }
            p{
              color: #405457;
              width: 90%;
              & + nav{
                  margin-top: 10%;
              }
            }
            nav{
              display: flex;
              justify-content: space-between;
              width: 95%;
              height: 4vh;
              a{
                min-width: 15%;

                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
              }
            }
            ol{
                li{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: 5% 0;
                    h3, h4{
                        margin-left: 20%;
                    }
                    div{
                        position: absolute;
                        width: 10%;
                        height: 100%;
                        left: 10%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        form{
          height: 100%;
          width: 40%;
          padding: 5%;
          padding-top: 0;
          padding-bottom: 0;
          h3{
            font-size: 100%;
            text-align: center;
            margin: 15% 0;
          }
          label, input{
            display: block;
          }
          label{
            font-size: 80%;
          }
          input, select{
            width:100%;
            border:solid 1px darken(#F8F9F9, 25%);
            font-size: 80%;
            padding: 3.5%;
            color: #405457;
            margin-bottom: 8%;
          }
          input[type=submit]{
            color: white;
            font-size: 100%;
            margin-bottom: 15%;
            transition: background-color 1s;
            &:hover{
              cursor: pointer;
            }
          }
          select{
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
          }
        }
    }
    footer{
      position: relative;
      width: 100%;
      max-height: 30vh;
      min-height: 20vh;
      margin-top: 7%;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      justify-content: space-between;
      a#copy{
        color: lighten(#405457, 25%);
        text-decoration: none;
        font-size: 80%;
        margin-top: 3%;
      }
      nav{
        width: 30%;
        margin-top: 1%;
        display: flex;
        justify-content: space-around;
        a{
          width: 15%;
          height: 100%;
        }
      }
      div{
        position: absolute;
        top: 60%;
        left: 10%;
        width: 80%;
        height: 1px;
      }
    }
}

@import "_mobile.scss";
